name: 'Release'

on:
  push:
    branches:
      - 'main'
      - 'release/**/*'

jobs:
  release:
    uses: 'gsehgal/.github/.github/workflows/release.yml@v3' # ratchet:exclude
    permissions:
      attestations: 'write'
      contents: 'write'
      packages: 'write'
    secrets:
      ACTIONS_BOT_TOKEN: '${{ secrets.ACTIONS_BOT_TOKEN }}'
